/*
	Theme Name: successean
	Theme URI: http://successean.com
	Description: Successean Theme
	Version: 1.4.2
	Author: Sean Cooper (@)
	Author URI: http://successean.com
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}
/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;
}
body {
	font:300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:#444;
}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
a {
	color:#444;
	text-decoration:none;
}
a:hover {
	color:#444;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	border:1px solid #04A4CC;
}
ul, li {
	padding: 0;
	list-style-type:none;
}

/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

@font-face {
    font-family: 'calluna_sansregular';
    src: url('/wp-content-themes/successean/fonts/CallunaSansRegular-webfont.eot');
    src: url('/wp-content-themes/successean/fonts/CallunaSansRegular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/wp-content-themes/successean/fonts/CallunaSansRegular-webfont.woff2') format('woff2'),
         url('/wp-content-themes/successean/fonts/CallunaSansRegular-webfont.woff') format('woff'),
         url('/wp-content-themes/successean/fonts/CallunaSansRegular-webfont.ttf') format('truetype'),
         url('/wp-content-themes/successean/fonts/CallunaSansRegular-webfont.svg#calluna_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

/* wrapper */
/*.wrapper {
	max-width:1280px;
	width:95%;
	margin:0 auto;
	position:relative;
}*/
/* header */
.header {
	width: 100%;
	position: fixed;
	z-index: 9999;
}
/* logo */
.logo {

}
.logo-img {

}
/* nav */
.nav {

}
/* sidebar */
.sidebar {

}
/* footer */
.footer {

}

/*------------------------------------*\
    HEADER
\*------------------------------------*/
.header-wrap {
	width: 97%;
	height: 90px;
	margin:22px auto 0;
	padding-top: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	position: relative;
}
div.logo {
	position: absolute;
	top:9px;
	left:3px;
}
.logo-img {
	height: 70px;
}
.nav {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
#nav-menu li {
	display: inline-block;
	width: 10%;
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
}
#nav-menu li a {
	color: #fff;
}
#nav-menu li:hover > a {
	color:rgba(255, 255, 255, 0.3);
}
/*#nav-menu li.active {
	padding-bottom: 35px;
}*/
#nav-menu li.active > a {
	color:rgba(255, 255, 255, 0.3);
}
/*#nav-menu li.active:nth-child(2) {
	border-bottom: 3px solid #ff445b;
}
#nav-menu li.active:nth-child(3) {
	border-bottom: 3px solid #7758f3;
}
#nav-menu li.active:nth-child(4) {
	border-bottom: 3px solid #37d9d2;
}
#nav-menu li.active:nth-child(5) {
	border-bottom: 3px solid #fb7d00;
}*/
/*------------------------------------*\
    SECTION
\*------------------------------------*/
.section {
	background-size: cover;
	background-position: center; 
}
#section1 {
	background-image:url(img/slide1.jpg); 
}
#section2 {
	background-image:url(img/slide2.jpg); 
}
#section3 {
	background-image:url(img/slide3.jpg); 
}
#section4 {
	background-image:url(img/slide-cod.jpg); 
}
#section5 {
	background-image:url(img/slide-cod.jpg); 
}
#contact {
	background-image:url(img/slide-cod.jpg); 
}

.section-text h3 {
	font-family: 'Work Sans', sans-serif;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing:0.15em;
	color:#fff;
	margin-bottom: 8px;
}
.section-text p {
	font-family: 'calluna_sansregular';
	font-size: 20px;
	line-height: 1.4em;
	letter-spacing:0.05em;
	color:#fff;
	margin-top: 0;
}

#section1 .section-text {
	width: 62%;
	margin: 0 0 0 auto;
}
#section1 .section-text p {
	width: 72%;
}

#section2 .section-text {
	width: 65%;
	margin: 0 0 0 auto;
}
#section2 .section-text h3 {
	width: 50%;
}
#section2 .section-text p {
	width: 54%;
}

#section3 .section-text {
	width: 575px;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0;
	border: 1px solid #fff;
}
#section3 .section-text h3 {
	width: 100%;
	margin: 0 auto;
}
#section3 .section-text p {
	width: 90%;
	margin: 0 auto;
}
#section3 .section-nose {
	width: 0%;
	height: 110px;
	margin: 0 auto;
	border-right:1px solid #fff;
}
#section3 .section-frown {
	text-align: center;
}
#section3 .section-frown img {
	width: 490px;
}
#section3 .section-mini-text {
	text-align: center;
}
#section3 .section-mini-text h5 {
	font-family: 'Work Sans', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	color:#fff;
	margin-top: 0;
	margin-bottom: 0;
}
#section3 .section-mini-text img {
	width: 100px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.section-mini-text p {
	font-family: 'calluna_sansregular';
	font-size: 20px;
	line-height: 1.4em;
	color:#fff;
	width: 35%;
	margin: 0 auto;
}


/*SECTION 4*/
#section4 .section-header {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
}
#section4 .section-header h3 {
	font-family: 'Work Sans', sans-serif;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing:0.15em;
	color:#fff;
	margin-bottom: 8px;
	display: inline-block;
	vertical-align: middle;
}
#section4 .section-header img {
	display: inline-block;
	vertical-align: middle;
	width: 300px;
	margin-left: 20px;
	margin-right: 20px;
}
#section4 h2 {
	font-family: 'calluna_sansregular';
	font-size: 110px;
	font-style: italic;
	text-align:center;
	text-transform: lowercase;
	letter-spacing: 0.05em;
	color:#fff;
	margin-top: 5px;
	margin-bottom: 10px;
}

#section4 .section-text {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}
#section4 .section-text p {
	width: 90%;
	margin: 0 auto 20px;
	font-size: 19px;
}

/*SECTION 5*/
#section5 .section-header {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	background-color: rgba(51, 51, 51, 0.5);
}
#section5 .section-header h1 {
	font-family: 'Work Sans', sans-serif;
	font-size:96px;
	font-weight: 100;
	letter-spacing:0.1em;
	color:#fff;
	padding-top: 40px;
	margin-bottom: 10px;
}


#section5 .section-text {
	width: 55%;
	margin: 0 auto;
	text-align: center;
}

#section5 .section-meet {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color:#fff;
}

#section5 .section-bio {
	width: 70%;
	margin: 0 auto 0 25px;
	display: inline-block;
	vertical-align: middle;
	color:#fff;
}
#section5 .section-bio h3 {
	font-family: 'Work Sans', sans-serif;
	font-size: 21px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing:0.15em;
	color:#fff;
	width: 100%;
	text-align: left;
	margin-bottom: 12px;
	display: inline-block;
	vertical-align: middle;
}

#section5 .section-bio p {
	font-family: 'calluna_sansregular';
	font-size: 17px;
	text-align: left;
	margin: 0 auto;
	line-height: 1.6em;
}

#section5 a.call {
	overflow: hidden;
}

#section5 a button {
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	background-color: transparent;
	border:1px solid #008fd5;
	color:#008fd5;
	height: 46px;
	width: 180px;
	margin-top: 30px;
	float: left;
}
#section5 img.phone-icon {
	height: 20px;
    margin-right: 12px;
    vertical-align: middle;
}
#section5 img.headshot {
	height: 200px;
    margin-right: 25px !important;
    vertical-align: middle;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/*CONTACT SECTION*/
.contact-form {
	text-align: center;
	width:100%;
}
.contact-wrapper {
	width: 500px;
	margin: 30px auto 0;
	border:1px solid grey;
	background-color: #191919;
}
.contact-form h2 {
	font-family: 'calluna_sansregular';
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #fff;
}
.contact-form h3 {
	font-family: 'Work Sans', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-align: left;
	padding-left: 30px;
	color:#fff;
	padding-bottom: 23px;
	border-bottom:1px solid grey;
}
.contact-form input[type="text"],
.contact-form input[type="email"] {
	width: 85%;
	background-color: #191919;
	border:0;
	border-bottom: 1px solid grey;
	padding-top: 35px;
	padding-bottom: 7px;
	font-family: 'Work Sans', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color:#555555;
}

.contact-form input[type="submit"] {
	width: 85%;
	margin: 50px auto 10px;
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	border: 0;
	border-radius: 0;
	height: 40px;
	background-color: #fff;
	color:#000;
	display: block;
}
/*------------------------------------*\
    RESPONSIVE MENU
\*------------------------------------*/
div#responsive-menu {
	height: auto !important;
	background-color:rgba(0,0,0,0.92) !important;
}
#responsive-menu #responsive-menu-title {
	height: 50px !important;
	opacity: 0 !important;
}
#responsive-menu .responsive-menu li {
	font-family: 'Work Sans' !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
}


/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
#section4 .section-header#mobile {
	display: none;
}

@media only screen and (max-width:600px) {
	.header-wrap {
		height: 50px;
	}
	div.logo {
		top:4px;
	}
	.logo-img {
    	height: 40px;
	}
	#click-menu {
		top:-2px !important;
	}
	.nav {
		display: none;
	}
	.header-wrap {
		margin: 0 auto;
		width: 100%;
	}
	#section1 .section-text {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
	.section-text h3 {
		margin-bottom: 20px;
	}
	#section1 .section-text p {
		width: 90%;
		margin: 0 auto;
	}

	#section2 .section-text {
		width: 100%;
		text-align: center;
	}
	#section2 .section-text h3 {
		width: 100%;
	}
	#section2 .section-text p {
	    width: 90%;
	    margin: 0 auto;
	    text-align: center;
	}

	#section3 .section-text {
		width: 90%;
	}
	#section3 .section-frown img {
	    width: 90%;
	}
	.section-mini-text p {
		width: 80%;
	}
	#section4 .section-text {
		width: 100%;
	}
	#section4 h2 {
		font-size: 40px;
	}
	#section4 .section-header#desktop {
		display: none;
	}
	#section4 .section-header#mobile {
		display: block;
	}
	#section4 .section-header h3 {
		font-size:17px;
	}
	#section4 .section-text p {
    width: 98%;
    margin: 0 auto;
    font-size: 15px;
}
	#section5 .section-header {
		display: none;
	}
	#section5 .section-header h1 {
		font-size: 40px;
		padding-top: 0;
		font-weight: 300;
	}
	#section5 .section-text {
		width: 90%;
	}
	#section5 .section-meet {
		margin: 0 auto;
	}
	#section5 .section-text p {
		font-size: 18px;
		line-height: 1.2em;
	}
	#section5 .section-bio {
		width: 98%;
		margin: 0 auto;
	}
	#section5 img.headshot {
		margin-right: 0 !important;
		margin-top: 50px;
		height: 80px;
	}
	#section5 .section-bio h3 {
		text-align: center;
		font-size: 16px;
		margin-top: 2px;
    	margin-bottom: 2px;
	}
	#section5 .section-bio p {
		text-align: center;
		font-size: 14px;
		line-height: 1.2em;
	}
	#section5 a.call {
		display: none;
	}
	#section5 a button {
		float: none;
	}
	.contact-wrapper {
		width: 95%;
		margin: 0 auto;
	}
	.contact-form input[type="text"], .contact-form input[type="email"] {
		padding-top: 9px;
	}
	.contact-form input[type="submit"] {
		margin:20px auto 0;
	}
	.contact-form h2 {
		font-size: 20px;
	}
	.contact-form h3 {
		font-size:16px;
	}



	#pp-nav {
		top:62px !important;
	}
	#pp-nav.right {
		left: 50%;
    	transform: translate(-50%, 0);
	}
	#pp-nav ul {
		text-align: center;
	}
	#pp-nav li {
		display: inline-block !important;
	}
	#pp-nav span {
		border-color:#fff !important;
		width: 13px !important;
		height: 13px !important;
	}
}
/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}
